<div class="products">
  <app-modal *ngIf="selectedProductId" (onClose)="handleModalClose($event)">
    <app-product (onRemove)="handleProductRemove($event)" [product]="getProductById(selectedProductId)">
    </app-product>
  </app-modal>
  <app-page-title [text]="'Products'"></app-page-title>
  <app-products-list *ngIf="products.length !== 0" [products]="products"
    (onViewFullProduct)="handleViewFullProduct($event)"></app-products-list>
  <div *ngIf="products.length === 0" class="products__no-products-message">No products to show...</div>
</div>
