.product-card
{
  border-radius: 3px;
  border: 1px solid #ddd;
  max-width: 300px;
  padding: 15px;
  position: relative;
  transition: 0.4s;
  width: 100%;
}

.product-card:hover
{
  border: 1px solid #4B8BF4;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.product-card__media
{
  margin-bottom: 25px;
}

.product-card__body
{
  padding-bottom: 25px;
  text-align: center;
}

.product-card__title
{
  height: 51px;
  margin-bottom: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card__footer
{
  padding-bottom: 15px;
  text-align: center;
}
