.responsive-image,
.responsive-image__actual-image
{
  max-width: 100%;
}

.responsive-image
{
  background-color: #4B8BF4;
}

.responsive-image__actual-image
{
  background-color: #FFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
