.product__body
{
  align-items: flex-start;
  display: flex;
  justify-content: center;
  line-height: 1.3;
  margin-bottom: 25px;
}

.product__column:nth-child(1)
{
  margin-right: 35px;
  max-width: 350px;
  width: 100%;
}

.product__column:nth-child(2)
{
  flex-shrink: 2;
}

.product__column [class] + [class]
{
  margin-top: 15px;
}

.product__category,
.product__price
{
  display: inline-block;
}

.product__footer
{
  text-align: center;
}
