<div class="product">
  <div class="product__body">
    <div class="product__column">
      <div class="product__media">
        <app-responsive-image [url]="product.image" [alt]="product.title" [width]="'350px'" [height]="'350px'">
        </app-responsive-image>
      </div>
    </div>
    <div class="product__column">
      <h2 class="product__title">{{product.title}}</h2>
      <app-badge class="product__category" [text]="product.category"></app-badge>
      <div class="product__description">{{product.description}}</div>
      <app-price class="product__price" [amount]="product.price" [currency]="'$'"></app-price>
    </div>
  </div>
  <div class="product__footer">
    <app-button [buttonStyle]="'danger'" [text]="'Remove'" [type]="'button'" (click)="removeProduct()">
    </app-button>
  </div>
</div>
