.products-list
{
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0 -7px;
  padding: 0;
}

.products-list__item
{
  margin: 7px;
  max-width: 280px;
  width: 100%;
}
